@charset "UTF-8";
@font-face {
    font-family: "Logo";
    src: url("../_fonts/Pangolin-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../_fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: "Chaka";
    src: url("../_fonts/ChakraPetch-Medium.ttf");
}



.area-carrinho{
    height: 500px;
}
.area-carrinho h1{
    color: white;
    background-color: #3c6e71;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 20px;
    text-shadow: 2px 2px 3px black;
    font-family: "Inter";
    text-align: center;
    font-size: 15pt;
    text-transform: UPPERCASE;
    border-right: 10px;
}

#compra{
    display: inline-flex;
    position: relative;
    left: 1200px;
    top: -20px;
    color: white;
    background-color: #353533;
    padding: 15px;
    font-family: "Chaka";
    font-size: 14pt;
    border-radius: 5px;
    text-transform: UPPERCASE;
    box-shadow: 2px 2px 3px black;
}

footer{
    clear:both;
}