@charset "UTF-8";
@font-face {
    font-family: "Logo";
    src: url("../_fonts/Pangolin-Regular.ttf");
}
@font-face {
    font-family: "Inter";
    src: url("../_fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: "Chaka";
    src: url("../_fonts/ChakraPetch-Medium.ttf");
}

section#sessao-sobre h1{
    font-family: "Chaka";
    font-size: 15pt;
    text-align: center;
    color: white;
    background-color: #353533;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
section#sessao-sobre i{
    margin-left: 10px;
}

#album-fotos{
    margin-top: 50px;
    width: 900px;
    padding: 50px;
    margin: 0px auto;
    overflow: hidden;
    list-style: none;
    margin-left: 100px;
    position: relative;
    left: 250px;
}
#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 15px;
    border: 5px solid #284b63;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 3px;
}
#album-fotos li#foto01{
    background: url("../_imagens/bibliotec.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#album-fotos li#foto02{
    background: url("../_imagens/biblioetca2.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#album-fotos li#foto03{
    background: url("../_imagens/caixas.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#album-fotos li#foto04{
    background: url("../_imagens/estoque.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#album-fotos li#foto05{
    background: url("../_imagens/biblioteca3.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}
#album-fotos li#foto06{
    background: url("../_imagens/livros.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}


section#sessao-sobre p{
    text-align:justify;
    text-indent: 40px;
    font-family: "Inter";
    font-size: 10pt;
    margin-bottom: 30px;
    padding: 10px;
    margin-right: 20px;
}

.matriz-swot{
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    left: -70px;
}
.matriz-swot h1#titulo{
    background-color: #353533;
    width: 300px;
    height: 1020px;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: "Chaka";
    font-size: 25pt;
    display: block;
    position: relative;
    top: 20px;
    line-height: 1020px;
}

.elementos{
    position: relative;
    top: 30px;
    width: 700px;
    height: 1040px;
    left: 100px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
}
.mat{
    color: #353533;
    background-color: white;
    border-radius: 5px;
    font-family: "Chaka";
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}
.ponto{
    font-family: "Inter";
    font-size: 8pt;
    margin-bottom: 2px;
}

section#sessao-sobre ol{
    font-family: "Inter";
    padding: 10px;
    margin-left: 20px;
    font-size: 10pt;
}
section#sessao-sobre ul{
    font-family: "Inter";
    padding: 10px;
    margin-left: 20px;
    font-size: 10pt;
}

section#sessao-sobre li{
    margin-bottom: 20px;
}

section#sessao-sobre span{
    text-decoration:underline;
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: bold;
}